* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header .container .logo {
    height: 50px;
    border-right: 2px solid grey;
    padding-right: 20px;
}

nav li {
    float: left;
    list-style: none;
    padding: 5px;
    margin-top: 20px;
    color: grey;
}

li a {
    text-decoration: none;
    color: inherit
}

main .introduction {
    position: relative;
}

.container, .container-1 {
    margin: 0 auto;
    max-width: 1024px;
    min-height: 100px;
    margin-top: 20px;
}

.overlay::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

.introduction .container-1 {
    min-height: 450px;
    background-image: url('img/banner.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 10px;
}

.container-1 .text-introduction {
    color: white;
    width: 50%;
    position: absolute;
    bottom: 60px;
    left: 50px;
    z-index: 1;
}

div .text-large {
    font-size: x-large;
    margin-bottom: 2px;
}

.col-1 p {
    color: grey;
}

.col-1 h2 {
    font-size: xx-large;
}

.content .container {
    height: 450px;
}

footer .container {
    min-height: 50px;
    margin-top: 100px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.skyblue {
    min-height: calc(100% - 50px - 15px - 15px);
    width: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.row .col-1 {
    width: 100%;
    height: 50px;
    padding: 2px;
    margin-bottom: 20px;
}

.container .col-2{
    float: left;
    width: 20%;
}

.col-2 .img-col-2, .col-4 .img-col-4, .col-3 .img-col-3 {
    width: 100%;
    display: inline-block;
    position: relative;
    font-size: 0;
}

.img-col-2 img, .img-col-4 img, .img-col-3 img {
    width: 100%;
    border-radius: 10px;
    height: 180px;
    object-fit: cover;
}

.text-col-2 p, .text-col-4 p, .text-col-3 p {
    color: grey;
    margin-top: 10px;
}

.container .col-3 {
    float: left; 
    width: calc(100% - 20% - 20% - 20px);
    margin-left: 10px;
    margin-right: 10px;
}

.container .col-4 {
    float: left;
    width: 20%;
}

footer span {
    color: red;
}

footer .container {
    text-align: center;
    line-height: 50px;
}